@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-fredoka: 'Fredoka', sans-serif; /* Fuente por defecto: Fredoka */
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Estilo base del cuerpo */
body {
    color: var(--foreground); /* Aplicar el color de texto basado en el tema */
    background-color: var(--background); /* Aplicar el fondo basado en el tema */
    font-family: var(--font-fredoka); /* Usar Fredoka como la fuente predeterminada */
}

/* Tailwind Utilities Personalizadas */
@layer utilities {
    .text-balance {
        text-wrap: balance; /* Utilidad personalizada para el ajuste de texto */
    }
}
