@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
    --background: #ffffff;
    --font-fredoka: 'Fredoka', sans-serif; /* Fuente por defecto: Fredoka */
}


/* Estilo base del cuerpo */
body {
    background-color: var(--background); /* Aplicar el fondo basado en el tema */
    font-family: var(--font-fredoka); /* Usar Fredoka como la fuente predeterminada */
}

/* Tailwind Utilities Personalizadas */
@layer utilities {
    .text-balance {
        text-wrap: balance; /* Utilidad personalizada para el ajuste de texto */
    }
}
